In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import glob

In [4]:
data = []
list = [pd.read_json(filename, lines=True) for filename in glob.glob("../week4/data/return-data/*.txt")]
df = pd.concat(list, axis=0)
df.head()

            basket  returnLabel  totalAmount  transactionId  zipCode
0           [3, 1]            0          106     3520406327     7667
1              [1]            0           50     6030070379     7647
2  [1, 1, 5, 4, 1]            0          175     6579182382     2633
3     [1, 2, 0, 1]            0          272     2779338441     4309
4              [2]            0           14     3198368336     4659

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31000 entries, 0 to 999
Data columns (total 5 columns):
basket           31000 non-null object
returnLabel      31000 non-null int64
totalAmount      31000 non-null int64
transactionId    31000 non-null int64
zipCode          31000 non-null int64
dtypes: int64(4), object(1)
memory usage: 1.4+ MB

In [6]:
df.drop(['basket','transactionId','zipCode'],axis=1,inplace=True)
df.head()

   returnLabel  totalAmount
0            0          106
1            0           50
2            0          175
3            0          272
4            0           14

In [7]:
from sklearn import preprocessing
totalAmount_norm = preprocessing.normalize(df[['totalAmount']], axis=0)
totalAmount_norm

array([[0.00190511],
       [0.00089863],
       [0.00314522],
       ...,
       [0.00199497],
       [0.00113228],
       [0.00071891]])

In [8]:
df_concat = np.concatenate((df[['returnLabel']], totalAmount_norm), axis=1)
df_concat

array([[0.        , 0.00190511],
       [0.        , 0.00089863],
       [0.        , 0.00314522],
       ...,
       [0.        , 0.00199497],
       [0.        , 0.00113228],
       [0.        , 0.00071891]])

In [9]:
df_norm = pd.DataFrame(df_concat)
df_norm.columns = ['returnLabel', 'totalAmount']
df_norm.head()

   returnLabel  totalAmount
0          0.0     0.001905
1          0.0     0.000899
2          0.0     0.003145
3          0.0     0.004889
4          0.0     0.000252

In [10]:
from sklearn.model_selection import train_test_split

X = df_norm.drop(['returnLabel'],axis=1)
y = df_norm['returnLabel']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30,random_state=101)

In [11]:
from sklearn.neighbors import KNeighborsClassifier

neighbor = KNeighborsClassifier(n_neighbors=5)
neighbor.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [12]:
accuracy = neighbor.score(X_test, y_test)
accuracy

0.9729032258064516