In [1]:
import pandas as pd

In [2]:
import glob

In [3]:
data = []
list = [pd.read_json(filename, lines=True) for filename in glob.glob("data/return-data/*.txt")]
df = pd.concat(list, axis=0)
df.head()

            basket  returnLabel  totalAmount  transactionId  zipCode
0           [3, 1]            0          106     3520406327     7667
1              [1]            0           50     6030070379     7647
2  [1, 1, 5, 4, 1]            0          175     6579182382     2633
3     [1, 2, 0, 1]            0          272     2779338441     4309
4              [2]            0           14     3198368336     4659